# .NET build output
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Dependencies
packages/

# Local app data
AppData/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk 